@font-face {
    font-family: 'Muller';
    src: url(../fonts/Muller/MullerBold.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Muller';
    src: url(../fonts/Muller/MullerBoldItalic.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'Muller';
    src: url(../fonts/Muller/MullerRegular.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Muller';
    src: url(../fonts/Muller/MullerThin.woff2);
    font-style: normal;
    font-weight: 100;
}

:root {
    font-size: 1.32vw;
}

body {
    font-family: 'Muller', Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    outline: 0;
}

.wrapper {
    width: 100vw;
    display: flex;
    margin: 0 auto;
    height: 200vh; // -----------------

    &-left {
        width: 7%;
        background-color: white;
        border-right: 1px solid rgba(0, 0, 0, .1);
    }
    &-right {
        width: 93%;
        background-color: white;
    }

    .logo {
        display: block;
        position: fixed;
        top: 2vw;
        margin-left: 1.1vw;
        width: 4.32vw;
        cursor: pointer;
    }
}

// .wrapper {
//     width: 1900px;
//     overflow: hidden;
//     display: flex;
//     margin: 0 auto;
// }

// .wrapper-right {
//     width: 1768px;
//     overflow-x: hidden;
// }

// .wrapper-left {
//     width: 132px;
//     min-height: 100vh;
//     border-right: 1px solid rgba(0, 0, 0, .1);
// }

// .logo {
//     display: block;
//     position: fixed;
//     top: 37px;
//     margin-left: 21px;
//     cursor: pointer;
// }

// .header {
//     margin-top: 100px;
//     margin-left: 72px;
// }

// .hidden {
//     display: none;
// }

// .flip-container {
// 	perspective: 1000;
//     position: relative;
//     width: 1584px;
//     height: 1002px;
//     display: flex;
//     flex-wrap: wrap;
//     margin-top: 63px;
//     margin-left: 95px;
// }

// .rotated {
//     transform: rotateX(-180deg);
//     transition-delay: 0s;
// }

// .flipper {
// 	transition: 1s ease-in-out;
// 	transform-style: preserve-3d;
//     width: 264px;
// 	height: 334px;
// 	position: relative;
//     transform-origin: 100% 167px;
//     transition-delay: 0s;
// }
 
// .front, .back {
// 	backface-visibility: hidden;
// 	position: absolute;
//     width: 264px;
// 	height: 334px;
// 	top: 0;
// 	left: 0;
// }
 
// .front {
// 	z-index: 2;
// }
 
// .back {
// 	transform: rotateX(180deg);
// }