@font-face {
    font-family: 'Muller';
    src: url(../fonts/Muller/MullerBold.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Muller';
    src: url(../fonts/Muller/MullerBoldItalic.woff2);
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: 'Muller';
    src: url(../fonts/Muller/MullerRegular.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Muller';
    src: url(../fonts/Muller/MullerThin.woff2);
    font-style: normal;
    font-weight: 100;
}

:root {
    font-size: 25px;
}

body {
    font-family: 'Muller', Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    outline: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    display: block;
}

.burger {
    display: none;
    position: absolute;
    top: 4rem;
    right: 0.62rem;
    font-size: 1.87rem;
    color: #fff;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1920px;
    display: flex;
    margin: 0 auto;

    &-left {
        width: 7%;
        max-width: 133px;
        background-color: #fff;
        border-right: 1px solid rgba(0, 0, 0, .1);
        box-sizing: border-box;

        .logo {
            display: block;
            position: fixed;
            width: 4.27%;
            max-width: 82px;
            margin-left: calc(min(1.09%, 21px));
            top: 1.48rem;
            cursor: pointer;
        }
    }
    &-right {
        width: 93%;
        max-width: 1787px;
        background-color: #fff;
    }
}

.container {
    width: 100%;
    padding: 0 7.39% 0 6.04%;
}

section {
    width: 100%;
    margin-top: 4rem;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #404040;
}

.columned-text {
    column-count: 2;
    column-gap: 1.5rem;
}

// .col-text-container {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;

//     p {
//         width: 48.87%;
//     }
// }

h1 {
    font-style: italic;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: auto;
    color: #fff;
}

h2 {
    font-weight: 100;
    font-size: 2rem;
    line-height: normal;
    margin-bottom: 0.8rem;
    color: #81AEE5;
    text-transform: uppercase;
}

h3 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.72rem;
    color: #00A65A;
}

@media screen and (max-width:1440px) {   
    :root {
        font-size: 20px;
    }
}

@media screen and (max-width:1280px) {   
    :root {
        font-size: 18px;
    }
}

@media screen and (max-width:1024px) {   
    :root {
        font-size: 15px;
    }
}

@media screen and (max-width:768px) {   
    :root {
        font-size: 11px;
    }
}

@media screen and (max-width:428px) {
    :root {
        font-size: 16px;
    }

    .wrapper-left {
        display: none;
    }

    .wrapper-right {
        width: 100%;
    }

    .burger {
        display: block;
    }

    .container {
        padding: 0 2.33%;
    }

    section {
        margin-top: 4.38rem;
    }

    h2 {
        font-size: 1.88rem;
        margin-bottom: 1.88rem;
    }

    // h3 {
    //     width: 100%;
    // }
}

@media screen and (max-width:375px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width:320px) {
    :root {
        font-size: 12px;
    }

}

// .wrapper {
//     width: 1900px;
//     overflow: hidden;
//     display: flex;
//     margin: 0 auto;
// }

// .wrapper-right {
//     width: 1768px;
//     overflow-x: hidden;
// }

// .wrapper-left {
//     width: 132px;
//     min-height: 100vh;
//     border-right: 1px solid rgba(0, 0, 0, .1);
// }

// .logo {
//     display: block;
//     position: fixed;
//     top: 37px;
//     margin-left: 21px;
//     cursor: pointer;
// }

// .header {
//     margin-top: 100px;
//     margin-left: 72px;
// }

.hidden {
    display: none;
}

.flip-container {
	perspective: 1000;
    // position: relative;
    // width: 1584px;
    width: 92%;
    // height: 1002px;
    display: flex;
    flex-wrap: wrap;
    // margin-top: 63px;
    // margin-left: 95px;
    margin: 63px auto;

    img {
        display: block;
        width: 101%;
    }
}

.rotated {
    transform: rotateX(-180deg);
    transition-delay: 0s;
}

.flipper {
	transition: 1s ease-in-out;
	transform-style: preserve-3d;
    // width: 264px;
	// height: 334px;
    width: 16.66%;
    padding-top: 21.09%;
	position: relative;
    // transform-origin: 100% 167px;
    transform-origin: 100% 50%;
    transition-delay: 0s;
}
 
.front, .back {
	backface-visibility: hidden;
	position: absolute;
    // width: 264px;
	// height: 334px;
    width: 100%;
	top: 0;
	left: 0;
    // background-color: violet;
}
 
.front {
	z-index: 2;
    // background-color: green;
}
 
.back {
	transform: rotateX(180deg);
}